body {
    background-color: #5f8071;
  } 

#intro {
  background-color: white;
}

#about {
  background-color: white;
}

#interests {
  background-color: white;
}

#professional {
  background-color: white;
}

#contact {
  background-color: white;
}

#footer {
  background-color: black;
}